<table class="table table-bordered">
  <thead>
  <tr>
    <th class="w-25">Tabelle</th>
    <th class="w-50">Datenbank</th>
    <th class="w-25">Zu verfügung stehende Spalten</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let index of indices">
    <td>
      <div *ngIf="model.fileHeader.length > index">
        {{model.fileHeader[index]}}
      </div>
    </td>
    <td dnd-droppable (onDropSuccess)="changeDropValue(index, $event)" [dropEnabled]="model.databaseHeader.length > index">
      <div *ngIf="model.databaseHeader.length > index">
        <div *ngIf="!model.databaseHeader[index]">
          Droppe die korrekte Datenbankspalte bitte hier!
        </div>
        <div *ngIf="model.databaseHeader[index]">
          {{model.databaseHeader[index].title}}
        </div>
      </div>
    </td>
    <td dnd-draggable [dragData]="model.possibleDatabaseHeaders[index]" [dragEnabled]="model.possibleDatabaseHeaders.length > index">
      <div *ngIf="model.possibleDatabaseHeaders.length > index" class="panel panel-default">
        <div class="panel-body">
          {{model.possibleDatabaseHeaders[index].title}}
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div class="btn-group">
  <button type="button" class="btn btn-secondary" previousStep>Zurück</button>
  <button type="button" class="btn btn-secondary" (click)="resetInput()">Reset</button>
  <button type="button" class="btn btn-secondary" [disabled]="!canFinish()" nextStep (finalize)="model.loadAssignments()">
    Weiter
  </button>
</div>
