.lend {  
    background: lightblue none !important;  /* green */  
    border-color: lightblue !important;     /* green */  
}  

.returned {
    background: #1AA11A none !important;  /* green */  
    border-color: #136e13 !important;     /* green */  
}