<table class="table table-bordered">
  <thead>
    <tr>
      <th class="w-25">{{sourceHeader}}</th>
      <th class="w-75">{{destinationHeader}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let index of indices">
      <td>
        <div *ngIf="source.length > index">
          {{source[index]}}
        </div>
      </td>
      <td>
        <div *ngIf="destination.length > index">
          <mat-select [(value)]="destination[index]" [placeholder]="defaultChoiceText"
            (selectionChange)="changeDropValue(index, $event)">
            <mat-option *ngIf="destination[index] && !destination[index].multiple" [value]="destination[index]">
              {{destination[index].title}}
            </mat-option>
            <mat-option *ngFor="let item of available" [value]="item">
              {{item.title}}
            </mat-option>
          </mat-select>
        </div>
      </td>
    </tr>
  </tbody>
</table>