<div class="modal-header">
  <h4 class="modal-title">Übersicht: Vergebene Ausweise</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
    <tr>
      <th>Ausweis Barcode</th>
      <th>Umschlag Barcode</th>
      <th>Ausgabezeit</th>
      <th>Anzahl aktuell ausgeliehener Spiele</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lendIdentityCard of lendIdentityCards">
      <td>{{lendIdentityCard.identityCardBarcode}}</td>
      <td>{{lendIdentityCard.envelopeBarcode}}</td>
      <td>{{lendIdentityCard.lendTime | date:'medium':'':'de'}}</td>
      <td>{{lendIdentityCard.numberOfLendGames}}</td>
    </tr>
    </tbody>
  </table>
</div>
