<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Games Overview</h3>
          <div class="card-body">
            <canvas class="overview-chart" baseChart
                    [datasets]="overviewService.gamesOverviewData"
                    [labels]="gameChartLabels"
                    [options]="barChartOptions"
                    [legend]="true"
                    chartType="bar"
                    (chartClick)="openLendGamesModal()">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Identity Card Overview</h3>
          <div class="card-body">
            <canvas class="overview-chart" baseChart
                    [datasets]="overviewService.identityCardsOverviewData"
                    [labels]="identityCardChartLabels"
                    [options]="barChartOptions"
                    [legend]="true"
                    chartType="bar">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
