<div class="container">
  <h2>Hinzufügen eines Spiels</h2>

  <form #gameForm="ngForm" (ngSubmit)="onSubmit(gameForm)">
    <div class="form-group row" [ngClass]="{ 'has-danger': barcode.invalid && (barcode.dirty || barcode.touched) }">
      <label for="barcode" class="col-sm-2 col-form-label">Barcode</label>
      <div class="col-sm-10">
        <input id="barcode" pattern="[0-9]{8}" name="barcode" type="text" class="form-control"
          [ngClass]="{ 'form-control-danger': barcode.invalid && (barcode.dirty || barcode.touched) }"
          [(ngModel)]="model.barcode" #barcode="ngModel" placeholder="11000014" required
          [lendingBarcodeNotExistValidator]="['11', '22']">

        <div *ngIf="barcode.invalid && (barcode.dirty || barcode.touched)" class="form-control-feedback">

          <div *ngIf="barcode.errors.required">
            Barcode ist erforderlich
          </div>
          <div *ngIf="barcode.errors.pattern">
            Barcode enthält illegale Zeichen und/oder nicht die richtige Länge
          </div>
          <div *ngIf="barcode.errors.invalidPrefix">
            Barcode beginnt nicht mit einem Spielpräfix
          </div>
          <div *ngIf="barcode.errors.invalidBarcode">
            Barcode ist nicht valide
          </div>
          <div *ngIf="barcode.errors.barcodeExists">
            Barcode existiert bereits
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': title.invalid && (title.dirty || title.touched) }">
      <label for="title" class="col-sm-2 col-form-label">Titel</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title" placeholder="Die Siedler von Catan"
          [ngClass]="{ 'form-control-danger': title.invalid && (title.dirty || title.touched) }"
          [(ngModel)]="model.title" #title="ngModel" required>

        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="form-control-feedback">

          <div *ngIf="title.errors.required">
            Titel ist erforderlich
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="author" class="col-sm-2 col-form-label">Autor</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="author" name="author" placeholder="Klaus Teuber"
          [(ngModel)]="model.author" #author="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label for="publisher" class="col-sm-2 col-form-label">Verlag</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="publisher" name="publisher" placeholder="Pegasus"
          [(ngModel)]="model.publisher" #publisher="ngModel">
      </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': minAge.invalid && (minAge.dirty || minAge.touched) }">
      <label for="minAge" class="col-sm-2 col-form-label">Mindestalter</label>
      <div class="col-sm-10">
        <input type="text" pattern="[0-9]+" class="form-control" id="minAge" name="minAge" placeholder="12"
          [ngClass]="{ 'form-control-danger': minAge.invalid && (minAge.dirty || minAge.touched) }"
          [(ngModel)]="model.minAge" #minAge="ngModel">

        <div *ngIf="minAge.invalid && (minAge.dirty || minAge.touched)" class="form-control-feedback">

          <div *ngIf="minAge.errors.pattern">
            Mindestalter ist keine Zahl
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="
         { 'has-danger':
            (minPlayers.invalid && (minPlayers.dirty || minPlayers.touched)) ||
            (maxPlayers.invalid && (maxPlayers.dirty || maxPlayers.touched))
         }">
      <label for="minPlayers" class="col-sm-2 col-form-label">Minimale Spielerzahl</label>
      <div class="col-sm-4">
        <input type="text" pattern="[0-9]+" class="form-control" id="minPlayers" name="minPlayers" placeholder="3"
          [ngClass]="{ 'form-control-danger': minPlayers.invalid && (minPlayers.dirty || minPlayers.touched) }"
          [(ngModel)]="model.playerCount.min" #minPlayers="ngModel">

        <div *ngIf="minPlayers.invalid && (minPlayers.dirty || minPlayers.touched)" class="form-control-feedback">

          <div *ngIf="minPlayers.errors.pattern">
            Mindestspielerzahl ist keine Zahl
          </div>
        </div>
      </div>

      <label for="maxPlayers" class="col-sm-2 col-form-label">Maximale Spielerzahl</label>
      <div class="col-sm-4">
        <input type="text" pattern="[0-9]+" class="form-control" id="maxPlayers" name="maxPlayers" placeholder="5"
          [ngClass]="{ 'form-control-danger': maxPlayers.invalid && (maxPlayers.dirty || maxPlayers.touched) }"
          [(ngModel)]="model.playerCount.max" #maxPlayers="ngModel">

        <div *ngIf="maxPlayers.invalid && (maxPlayers.dirty || maxPlayers.touched)" class="form-control-feedback">

          <div *ngIf="maxPlayers.errors.pattern">
            Maximalspielerzahl ist keine Zahl
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="
         { 'has-danger':
            (minDuration.invalid && (minDuration.dirty || minDuration.touched)) ||
            (maxDuration.invalid && (maxDuration.dirty || maxDuration.touched))
         }">
      <label for="minDuration" class="col-sm-2 col-form-label">Minimale Spieldauer</label>
      <div class="col-sm-4">
        <input type="text" pattern="[0-9]+" class="form-control" id="minDuration" name="minDuration" placeholder="60"
          [ngClass]="{ 'form-control-danger': minDuration.invalid && (minDuration.dirty || minDuration.touched) }"
          [(ngModel)]="model.duration.min" #minDuration="ngModel">

        <div *ngIf="minDuration.invalid && (minDuration.dirty || minDuration.touched)" class="form-control-feedback">

          <div *ngIf="minDuration.errors.pattern">
            Mindestspieldauer ist keine Zahl
          </div>
        </div>
      </div>

      <label for="maxDuration" class="col-sm-2 col-form-label">Maximale Spieldauer</label>
      <div class="col-sm-4">
        <input type="text" pattern="[0-9]+" class="form-control" id="maxDuration" name="maxDuration" placeholder="90"
          [ngClass]="{ 'form-control-danger': maxDuration.invalid && (maxDuration.dirty || maxDuration.touched) }"
          [(ngModel)]="model.duration.max" #maxDuration="ngModel">

        <div *ngIf="maxDuration.invalid && (maxDuration.dirty || maxDuration.touched)" class="form-control-feedback">

          <div *ngIf="maxDuration.errors.pattern">
            Maximalspieldauer ist keine Zahl
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': releaseYear.invalid && (releaseYear.dirty || releaseYear.touched) }">
      <label for="releaseYear" class="col-sm-2 col-form-label">Erscheinungsjahr</label>
      <div class="col-sm-10">
        <input type="text" pattern="[0-9]{4}" class="form-control" id="releaseYear" name="releaseYear" placeholder="2015"
          [ngClass]="{ 'form-control-danger': releaseYear.invalid && (releaseYear.dirty || releaseYear.touched) }"
          [(ngModel)]="model.releaseYear" #releaseYear="ngModel">

        <div *ngIf="releaseYear.invalid && (releaseYear.dirty || releaseYear.touched)" class="form-control-feedback">

          <div *ngIf="releaseYear.errors.pattern">
            Erscheinungsjahr ist keine Zahl
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="comment" class="col-sm-2 col-form-label">Kommentar</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Karte X fehlt"
          [(ngModel)]="model.comment" #comment="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label for="activated" class="col-sm-2 col-form-label">Spiel aktivieren</label>
      <div class="col-sm-10 form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" id="activated" name="activated" [(ngModel)]="model.activated">
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <div class="float-right">
          <button type="submit" class="btn btn-success" [disabled]="gameForm.invalid">Speichern</button> &nbsp;
          <button type="reset" class="btn btn-danger" [disabled]="gameForm.pristine" (click)="reset(gameForm)">Reset
          </button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="gameForm.pristine && success">
      <div class="col-sm-12 alert alert-success" role="alert">
        {{successMessage}}
      </div>
    </div>
  </form>
</div>