<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>Spiele-Überblick</mat-card-title>
        <mat-card-content class="overview-chart">
          <ngx-charts-bar-vertical [results]="overviewService.gamesOverviewData"
                                   [xAxis]="true" [yAxis]="true" [animations]="false">
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
        <mat-card-title>Ausweis-Überblick</mat-card-title>
        <mat-card-content class="overview-chart">
          <ngx-charts-bar-vertical [results]="overviewService.identityCardsOverviewData"
                                   [xAxis]="true" [yAxis]="true" [animations]="false">
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
