:host {
  width: 100%;
  text-align: center;
}

.drop-zone {
  margin: 10px auto 10px auto;
  width: 300px;
  height: 300px;
  display: table;
  border: 2px dashed;
}

.drop-zone-text {
  display: table-cell;
  vertical-align: middle;
}
