<div class="container">
  <wizard>
    <lending-file-selection-step wizardStep stepTitle="Datei hochladen"
                                 (onFileSelection)="loadWorkbook($event)"></lending-file-selection-step>

    <lending-sheet-selection-step wizardStep stepTitle="Tabelle auswählen" [file]="file"
                                  (onSheetSelection)="loadSheet($event)"></lending-sheet-selection-step>

    <lending-check-sheet-content-step wizardStep stepTitle="Tabelleninhalt" [data]="data"
                                      (onContentChecked)="loadTable($event)"></lending-check-sheet-content-step>

    <lending-column-assignment-step wizardStep stepTitle="Spaltenzuordnung" [fileHeader]="fileHeader" [fileData]="fileContent"
                                    [allDatabaseHeader]="allDatabaseHeader" (onColumnAssigned)="loadAssignments($event)"></lending-column-assignment-step>

    <lending-confirmation-step wizardStep stepTitle="Bestätigen" [items]="games" [itemValidator]="verifyGames"
                               [columns]="columns" [columnHeaders]="columnHeaders"></lending-confirmation-step>

    <wizard-completion-step stepTitle="Ergebnis">

    </wizard-completion-step>
  </wizard>
</div>
