<div class="container">
  <wizard>
    <lending-file-selection-step wizardStep stepTitle="Datei auswählen"></lending-file-selection-step>

    <lending-sheet-selection-step wizardStep stepTitle="Tabelle auswählen"></lending-sheet-selection-step>

    <lending-check-sheet-content-step wizardStep stepTitle="Tabelleninhalt"></lending-check-sheet-content-step>

    <lending-column-assignment-step wizardStep stepTitle="Spaltenzuordnung"></lending-column-assignment-step>

    <lending-confirmation-step wizardStep stepTitle="Bestätigen"></lending-confirmation-step>

    <lending-summary-step wizardCompletionStep stepTitle="Ergebnis"></lending-summary-step>
  </wizard>
</div>
