<div class="container">
  <wizard>
    <activation-file-selection-step wizardStep stepTitle="Datei auswählen"></activation-file-selection-step>

    <activation-sheet-selection-step wizardStep stepTitle="Tabelle auswählen"></activation-sheet-selection-step>

    <activation-check-sheet-content-step wizardStep stepTitle="Tabelleninhalt"></activation-check-sheet-content-step>

    <activation-column-assignment-step wizardStep stepTitle="Barcodezuordnung"></activation-column-assignment-step>

    <activation-confirmation-step wizardStep stepTitle="Bestätigen"></activation-confirmation-step>

    <activation-summary-step wizardCompletionStep stepTitle="Ergebnis"></activation-summary-step>
  </wizard>
</div>
