<div class="container">
  <aw-wizard>
    <activation-file-selection-step awWizardStep stepTitle="Datei auswählen"></activation-file-selection-step>

    <activation-sheet-selection-step awWizardStep stepTitle="Tabelle auswählen"></activation-sheet-selection-step>

    <activation-check-sheet-content-step awWizardStep stepTitle="Tabelleninhalt"></activation-check-sheet-content-step>

    <activation-column-assignment-step awWizardStep stepTitle="Barcodezuordnung"></activation-column-assignment-step>

    <activation-confirmation-step awWizardStep stepTitle="Bestätigen"></activation-confirmation-step>

    <activation-summary-step awWizardCompletionStep stepTitle="Ergebnis"></activation-summary-step>
  </aw-wizard>
</div>
