:host {
  width: 100%;
  text-align: center;
}

.step-container {
  margin-top: 20px;

  .step-content {
    .confirmation-hot-table {
      width: 100%;
      overflow: hidden;
    }
  }

  .step-actions {
    margin-top: 20px;
  }
}
