:host {
  width: 100%;
  text-align: center;
}

.step-container {
  margin-top: 20px;

  .step-content {
    .step-field {
      min-width: 60%;
    }
  }

  .step-actions {
    margin-top: 20px;
  }
}