<div class="step-container">
  <p>Wählen sie die zu ladende Tabelle</p>

  <div class="step-content">
    <mat-form-field class="step-field" appearance="outline">
      <mat-label>Tabelle</mat-label>
      <mat-select [(value)]="model.selectedSheetName">
        <mat-option *ngFor="let sheetName of model.sheetNames" [value]="sheetName">{{sheetName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="step-actions">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary" awPreviousStep>Zurück</button>
      <button type="button" class="btn btn-secondary" awNextStep (finalize)="model.loadSheet()">Weiter</button>
    </div>
  </div>
</div>