<div class="container">
  <aw-wizard>
    <addition-file-selection-step awWizardStep stepTitle="Datei auswählen"></addition-file-selection-step>

    <addition-sheet-selection-step awWizardStep stepTitle="Tabelle auswählen"></addition-sheet-selection-step>

    <addition-check-sheet-content-step awWizardStep stepTitle="Tabelleninhalt"></addition-check-sheet-content-step>

    <addition-column-assignment-step awWizardStep stepTitle="Spaltenzuordnung"></addition-column-assignment-step>

    <addition-confirmation-step awWizardStep stepTitle="Bestätigen"></addition-confirmation-step>

    <addition-summary-step awWizardCompletionStep stepTitle="Ergebnis"></addition-summary-step>
  </aw-wizard>
</div>
