<div class="container">
  <wizard>
    <addition-file-selection-step wizardStep stepTitle="Datei auswählen"></addition-file-selection-step>

    <addition-sheet-selection-step wizardStep stepTitle="Tabelle auswählen"></addition-sheet-selection-step>

    <addition-check-sheet-content-step wizardStep stepTitle="Tabelleninhalt"></addition-check-sheet-content-step>

    <addition-column-assignment-step wizardStep stepTitle="Spaltenzuordnung"></addition-column-assignment-step>

    <addition-confirmation-step wizardStep stepTitle="Bestätigen"></addition-confirmation-step>

    <addition-summary-step wizardCompletionStep stepTitle="Ergebnis"></addition-summary-step>
  </wizard>
</div>
