:host {
  width: 100%;
  text-align: center;
}

.step-container {
  margin-top: 20px;

  .step-content {
    .drop-zone {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 300px;
      display: table;
      border: 2px dashed;
    }

    .drop-zone-text {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .step-actions {
    margin-top: 20px;
  }
}