<div class="step-container">
  <div class="step-content">
    <lending-list-assignment #assignment sourceHeader="Tabelle" destinationHeader="Datenbank"
      availableHeader="Zu verfügung stehende Spalten"
      defaultChoiceText="Droppe die korrekte Datenbankspalte bitte hier!" [source]="model.fileHeader"
      [all]="model.allDatabaseHeaders" (onDrop)="processAssignment($event)">
    </lending-list-assignment>
  </div>

  <div class="step-actions">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary" awPreviousStep>Zurück</button>
      <button type="button" class="btn btn-secondary" (click)="assignment.reset()">Reset</button>
      <button type="button" class="btn btn-secondary" [disabled]="!canFinish()" awNextStep
        (finalize)="model.loadAssignments()">
        Weiter
      </button>
    </div>
  </div>
</div>