<div class="container">
  <h2>Aktivieren eines Spiels</h2>

  <form #gameForm="ngForm" (ngSubmit)="onSubmit(gameForm)">
    <div class="form-group row" [ngClass]="{ 'has-danger': barcodeInput.invalid && (barcodeInput.dirty || barcodeInput.touched) }">
      <label for="barcodeInput" class="col-sm-2 col-form-label">Eingabe</label>
      <div class="col-sm-10">
        <input id="barcodeInput" pattern="[0-9]{8}" name="barcodeInput" type="text" class="form-control"
               [ngClass]="{ 'form-control-danger': barcodeInput.invalid && (barcodeInput.dirty || barcodeInput.touched) }"
               [(ngModel)]="barcode" #barcodeInput="ngModel" placeholder="11000014" required autofocus
               [lendingBarcodeExistValidator]="['11', '22']">

        <div *ngIf="barcodeInput.invalid && (barcodeInput.dirty || barcodeInput.touched)"
             class="form-control-feedback">

          <div *ngIf="barcodeInput.errors.required">
            Barcode ist erforderlich
          </div>
          <div *ngIf="barcodeInput.errors.pattern">
            Barcode enthält illegale Zeichen und/oder nicht die richtige Länge
          </div>
          <div *ngIf="barcodeInput.errors.invalidPrefix">
            Barcode beginnt nicht mit einem Spielpräfix
          </div>
          <div *ngIf="barcodeInput.errors.invalidBarcode">
            Barcode ist nicht valide
          </div>
          <div *ngIf="barcodeInput.errors.barcodeNotExists">
            Barcode existiert nicht
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="gameForm.pristine && game">
      <h3 class="col-sm-12">
        Zuletzt aktiviertes Spiel
      </h3>
    </div>

    <div class="form-group row" *ngIf="gameForm.pristine && game">
      <label for="barcode" class="col-sm-2 col-form-label">Barcode</label>
      <div id="barcode" class="col-sm-10">
        {{game.barcode}}
      </div>
    </div>

    <div class="form-group row" *ngIf="gameForm.pristine && game">
      <label for="title" class="col-sm-2 col-form-label">Titel</label>
      <div id="title" class="col-sm-10">
        {{game.title}}
      </div>
    </div>

    <div class="form-group row" *ngIf="gameForm.pristine && game?.author">
      <label for="author" class="col-sm-2 col-form-label">Autor</label>
      <div id="author" class="col-sm-10">
        {{game.author}}
      </div>
    </div>

    <div class="form-group row" *ngIf="gameForm.pristine && game?.publisher">
      <label for="publisher" class="col-sm-2 col-form-label">Verlag</label>
      <div id="publisher" class="col-sm-10">
        {{game.publisher}}
      </div>
    </div>
  </form>
</div>
